html, body {
    height: 100%;
}

table, center {
    margin-bottom: 1%;
    width: 100%;
}

.table-student {
    min-width: 335px;
    background-color: rgba(225, 225, 225, 0.4);
    border-radius: 20px;
}

.table-teacher {
    min-width: 400px;
}

.center-wrapper {
    width: 80%;
}

.select-form {
    margin: 1% 0;
}

.select-form .form-group {
    margin-right: 2%;
}

.form-buttons a {
    margin-right: 5%;
}

.adminMenu {
    margin-bottom: 1%;
}

.deleteForm {
    display: inline;
}

.time {
    font-style: italic;
    font-weight: bold;
}


.footer {
    margin-bottom: 0;
    height: 75px;
}

.contentFix {
    min-height: calc(100vh - 157px);
}

.copy {
    margin-top: 22px;
    color: white;
}

.copy a:hover {
    color:white;
    text-decoration: none;
}

.languageSelect {
    float: right;
}

.languageImg {
    width: 40px;
    height: 20px;
    border-radius: 15%;
}