<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title th:text="#{titles.admin.groups}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/style.css}"/>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <header th:include="page :: header"></header>
            <div class="center-block center-wrapper">
                <div th:include="page :: adminMenu"></div>
                <div class="text-center">
                    <a th:href="@{/admin/groups/add}" class="btn btn-success" th:text="#{admin.addGroup}">Add group</a>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th colspan="2" class="text-center"><h3 th:text="#{groups}">Groups</h3></th>
                    </tr>
                    <tr>
                        <th th:text="#{admin.name}">Name</th>
                        <th class="text-right" th:text="#{admin.actions}">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="group : ${groups}">
                        <td class="groupInfo">
                            <span th:text="${group.name}">Group name</span>
                            <div class="subjects">
                                <ul>
                                    <li th:each="subject : ${group.subjects}" th:text="${subject.name} + '|' + ${subject.teacher.name}">Subject name</li>
                                </ul>
                            </div>
                        </td>
                        <td class="text-right"><a th:href="@{/admin/groups/edit/} + ${group.id}" th:text="#{admin.edit}" class="btn btn-warning btn-sm">Edit</a>
                        <form class="deleteForm" th:action="@{/admin/groups/delete}" method="POST">
                            <input name="deleteId" id="deleteId" hidden="hidden" type="text" th:value="${group.id}"/>
                            <input type="submit" th:value="#{admin.delete}" class="btn btn-danger btn-sm"/>
                        </form></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <footer th:include="page :: footer"></footer>
    </div>
</body>
</html>