<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<header th:include="page :: header"></header>
<div class="center-block center-wrapper">
    <h2 class="text-center" th:text="${actionName}">Action name</h2>
    <form class="form-horizontal" th:object="${pair}" method="post">
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="error : ${#fields.errors('*')}"
                    th:text="${error}">error</li>
            </ul>
        </div>
        <select class="hidden" th:field="*{currentGroup}">
            <option th:value="${currentGroup.id}" th:text="${currentGroup.name}"></option>
        </select>
        <div th:class="${#fields.hasErrors('subGroup')}? 'form-group has-error': 'form-group'">
            <label th:for="subGroup" class="col-sm-4 control-label">Subgroup</label>
            <div class="col-sm-5">
                <select class="form-control" th:field="*{subGroup}">
                    <option value="0">All subgroups</option>
                    <option th:each="subgroup : ${#numbers.sequence(1, subgroupsCount)}"
                            th:value="${subgroup}" th:text="${subgroup}">Subgroup</option>
                </select>
            </div>
        </div>
        <div th:class="${#fields.hasErrors('week')}? 'form-group has-error': 'form-group'">
            <label th:for="week" class="col-sm-4 control-label">Week</label>
            <div class="col-sm-5">
                <select class="form-control" th:field="*{week}">
                    <option th:each="week : ${#numbers.sequence(startWeek, finalWeek)}"
                            th:value="${week}" th:text="${week}">Week</option>
                </select>
            </div>
        </div>
        <div th:class="${#fields.hasErrors('day')}? 'form-group has-error': 'form-group'">
            <label th:for="day" class="col-sm-4 control-label">day</label>
            <div class="col-sm-5">
                <select class="form-control" th:field="*{day}">
                    <option th:each="day : ${#numbers.sequence(1, daysCount)}"
                            th:value="${day}" th:text="${day}">Day</option>
                </select>
            </div>
        </div>
        <div th:class="${#fields.hasErrors('numberInDay')}? 'form-group has-error': 'form-group'">
            <label th:for="numberInDay" class="col-sm-4 control-label">#</label>
            <div class="col-sm-5">
                <select class="form-control" th:field="*{numberInDay}">
                    <option th:each="num : ${#numbers.sequence(1, pairsInDay)}"
                            th:value="${num}" th:text="${num}">numberInDay</option>
                </select>
            </div>
        </div>
        <div th:class="${#fields.hasErrors('subject')}? 'form-group has-error': 'form-group'">
            <label th:for="subject" class="col-sm-4 control-label">Subject</label>
            <div class="col-sm-5">
                <select class="form-control" th:field="*{subject}">
                    <option th:each="subject : ${currentGroup.subjects}"
                            th:value="${subject.id}"
                            th:text="${subject.name} + '|' + ${subject.teacher.name}">numberInDay</option>
                </select>
            </div>
        </div>
        <div th:class="${#fields.hasErrors('type')}? 'form-group has-error': 'form-group'">
            <label th:for="type" class="col-sm-4 control-label">Type</label>
            <div class="col-sm-5">
                <select class="form-control" th:field="*{type}">
                    <option th:each="type : ${types}"
                            th:value="${type.id}"
                            th:text="${type.name}">Type</option>
                </select>
            </div>
        </div>
        <div th:class="${#fields.hasErrors('room')}? 'form-group has-error': 'form-group'">
            <label th:for="room" class="col-sm-4 control-label">Room</label>
            <div class="col-sm-5">
                <input class="form-control" type="text" th:field="*{room}" placeholder="304"/>
            </div>
        </div>
        <div class="form-buttons text-center">
            <a th:href="@{/admin/schedule}" class="btn btn-danger">Cancel</a>
            <input type="submit" value="Add" class="btn btn-success"/>
        </div>
    </form>
</div>
</body>
</html>