<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title th:text="#{titles.exams}">Schedule</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/style.css}"/>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <header th:include="page :: header"></header>
            <div class="center-block center-wrapper">
                <div class="center-block select-form">
                    <form class="form-inline text-center" th:object="${selectForm}"  th:action="@{/exams}" method="POST">
                        <div class="form-group">
                            <label for="groupSelect" th:text="#{group}">Group:</label>
                            <select id="groupSelect" th:field="*{selectedGroup}" name="selectedGroup" class="form-control">
                                <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}">Group</option>
                            </select>
                        </div>
                        <input type="submit" class="btn btn-success" th:value="#{select}" />
                    </form>
                </div>
                <div>
                    <h3 class="text-center" th:if="${exams eq null}" th:text="#{selectGroupMessage}">Select a group</h3>
                    <h3 class="text-center" th:if="${exams} and ${#lists.isEmpty(exams)}" th:text="#{noExamsInfo}">No exams</h3>
                    <table th:if="${exams} and ${#lists.size(exams) gt 0}" class="table table-responsive scheduleTable">
                        <thead>
                        <tr>
                            <th colspan="5" class="text-center"><h3 th:text="#{examsFor} + ' ' + ${selectedGroupName}">Exams for</h3></th>
                        </tr>
                        <tr>
                            <th th:text="#{date}">Date</th>
                            <th th:text="#{time}">Time</th>
                            <th th:text="#{subject}">Subject</th>
                            <th th:text="#{teacher}">Type</th>
                            <th th:text="#{room}">Room</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="exam : ${exams}">
                            <td th:text="${exam.getFormattedDate()}"></td>
                            <td th:text="${exam.getFormattedTime()}"></td>
                            <td th:text="${exam.subject.name}"></td>
                            <td th:text="${exam.subject.teacher.name}"></td>
                            <td th:text="${exam.room}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer th:include="page :: footer"></footer>
    </div>
</body>
</html>
