<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Schedule | Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/login_style.css}"/>
</head>
<body>
    <div class="login-form">
        <div class="text-center text-error" th:if="${param.error}" th:text="#{login.invalid}">
            Invalid username and password.
        </div>
        <div class="text-center" th:if="${param.logout}">
            You have been logged out.
        </div>
        <form class="form-horizontal" th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username" class="col-sm-4 control-label" th:text="#{login.username}">User Name:</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="username" name="username"/>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-4 control-label" th:text="#{login.password}">Password:</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="password" name="password"/>
                </div>
            </div>
            <div class="form-buttons text-center">
                <input type="submit" class="btn btn-success" value="Sign In" th:value="#{login.signIn}"/>
            </div>
        </form>
    </div>
</body>
</html>