<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header">
    <nav class="navbar navbar-default">
        <div class="center-block center-wrapper">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">Schedule</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/teachers}">For teachers</a></li>
                    <li><a th:href="@{/admin}">admin</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div th:fragment="adminMenu" class="center-block select-form">
    <div class="alert alert-success" th:if="${message}">
        <b th:text="${message}"></b>
    </div>
    <center>
        <a th:href="@{/admin}" th:class="${currentTab eq 'schedule'}? 'btn btn-default active': 'btn btn-default'">
            Edit schedule</a>
        <a th:href="@{/admin/groups}" th:class="${currentTab eq 'groups'}? 'btn btn-default active': 'btn btn-default'">
            Edit groups</a>
        <a th:href="@{/admin/teachers}" th:class="${currentTab eq 'teachers'? 'btn btn-default active': 'btn btn-default'}">
            Edit teachers</a>
        <a th:href="@{/admin/subjects}" th:class="${currentTab eq 'subjects'? 'btn btn-default active': 'btn btn-default'}">
            Edit subjects</a>
        <a th:href="@{/admin/types}" th:class="${currentTab eq 'types'? 'btn btn-default active': 'btn btn-default'}">
            Edit types
        </a>
        <a th:href="@{/admin/settings}" th:class="${currentTab eq 'settings'? 'btn btn-default active': 'btn btn-default'}">
            Edit settings
        </a>
        <a th:href="@{/admin/news}" th:class="${currentTab eq 'news'? 'btn btn-default active': 'btn btn-default'}">
            Edit news
        </a>
        <br/><br/>
    </center>
</div>
</body>
</html>