<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<header th:include="page :: header"></header>
<div class="center-block center-wrapper">
    <h2 class="text-center" th:text="${actionName}">Action name</h2>
    <form class="form-horizontal" th:object="${news}" method="post">
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="error : ${#fields.errors('*')}"
                    th:text="${error}">error</li>
            </ul>
        </div>
        <div th:class="${#fields.hasErrors('content')}? 'form-group has-error': 'form-group'">
            <label th:for="content" class="col-sm-4 control-label">Content</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" th:field="*{content}" placeholder="Content"/>
            </div>
        </div>
        <div class="form-buttons text-center">
            <a th:href="@{/admin/news}" class="btn btn-danger">Cancel</a>
            <input type="submit" value="Add" class="btn btn-success"/>
        </div>
    </form>
</div>
</body>
</html>