<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{titles.admin.subjects}">Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/style.css}"/>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <header th:include="page :: header"></header>
            <div class="center-block center-wrapper">
                <h2 th:if="${action} eq 'add'" th:text="#{admin.addSubject}" class="text-center">Add</h2>
                <h2 th:if="${action} eq 'edit'" th:text="#{admin.editSubject}" class="text-center">Edit</h2>
                <form class="form-horizontal" th:object="${subject}" method="post">
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                        <ul>
                            <li th:each="error : ${#fields.errors('*')}"
                                th:text="${error}">error</li>
                        </ul>
                    </div>
                    <div th:class="${#fields.hasErrors('name')}? 'form-group has-error': 'form-group'">
                        <label th:for="name" class="col-sm-4 control-label" th:text="#{admin.name}">Name</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" th:field="*{name}" placeholder="Name"/>
                        </div>
                    </div>
                    <div th:class="${#fields.hasErrors('teacher')}? 'form-group has-error': 'form-group'">
                        <label th:for="teacherId" class="col-sm-4 control-label" th:text="#{admin.teacher}">Teacher</label>
                        <div class="col-sm-5">
                            <select class="form-control" th:field="*{teacher}">
                                <option th:each="teacher : ${teachers}"
                                        th:value="${teacher.id}" th:text="${teacher.name}">Teacher</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-buttons text-center">
                        <a th:href="@{/admin/subjects}" class="btn btn-danger" th:text="#{admin.cancel}">Cancel</a>
                        <input type="submit" th:value="#{admin.save}" class="btn btn-success"/>
                    </div>
                </form>
            </div>
        </div>
        <footer th:include="page :: footer"></footer>
    </div>
</body>
</html>